<section data-ng-controller= "ItemsController" ng-init="findItemList()">
    <div class="page-header">
        <h1>Add Item</h1>
    </div>
    <div class="col-md-12">
        <fieldset>
            <label for="itemName">Name your Item: </label>
            <input type="text" name="itemName" id="itemName" ng-model="itemName"/>
            <button type="submit" ng-click="addItem()">Submit</button>
            {{itemName}}
        </fieldset>
        <fieldset>
            <label>Find Item: </label>
            <input type="text" ng-model="itemNameFind" ng-change="findItemName()"/>
        </fieldset>
    <hr />
        <table name="itemList" id="itemList">
            <tr>
                <th>Item Name</th>
                <th>User</th>
                <th>Date Created</th>
                <th></th>
            </tr>

            <tr ng-repeat="item in items">
                <td>{{ item.itemName }}</td>
                <td>{{ item.user}}</td>
                <td>{{ item.created}}</td>
                <td><button ng-click="deleteItem(item)">Delete</button></td>
            </tr>
        </table>
    </div>
</section>

